#### PDF -1

In [ ]:
#consider the code
x=8
y=10
result=x//3*3/2+y%2**2
print(result)

In [31]:
#consider the code
start = input("How old were you at the time of joining ")
end= input("How old are you today")
# print("congratulaions on" +(int(end)-int(start)) + 'year of services')
print("congratulaions on " + str(int(end)-int(start)) + ' year of services')

How old were you at the time of joining  24
How old are you today 60

congratulaions on 36 year of services

In [41]:
# print the 'CAt' to the console
x='ACROTE'
y='APPLE'
z='TOMATO'
print(x[1]+y[0]+z[0])
# print(x[2]+y[1]+z[1])

CAT

In [9]:
x='Durga'
y='Durga'
# result=condition
print(x is y)

True
True

In [49]:
# code segment-1
a1='10'
b1=3
c1=a1*b1
# code segment-2
a2=10
b2=3
c2=a2/b2
# code segment-3
a3=2.6
b3=1
c3=a3/b3
print(c1,c2,c3)

101010 3.3333333333333335 2.6

In [59]:
n1=[10,20,30,40,50]
n2=[10,20,30,40,50]
print(n1 is n2)
print(n1==n2)

False
True

In [79]:
a=1
b=3
c=5
d=7
print(a-b//d)
print(a**d//b)
print(a+b*2)
print(a%b-1)

1
0
7
0

In [105]:
# del list  # Deletes the redefinition
a = 'AB CD'
my_list = list(a)
my_list.append('EF')
print(my_list)

['A', 'B', ' ', 'C', 'D', 'EF']

In [111]:
#to print 'valid' to the console, which condtion we have to take for if state?
a=5
b=10
c=2
d=True
x=a+b*c
y=a+b/d
if x>y:
    print("valid")
else:
    print("invalid")

valid

In [115]:
X=input("enter first number:")
y=input("enter second number:")
print(str(int(x)+int(y)))

enter first number: 34
enter second number: 44

69

In [12]:
#consider the folowing py code:
weight = 62.4
print(type(weight))
xip ='80098'
print(type(xip))
value=+23E4
print(type(value))

<class 'float'>
<class 'str'>
<class 'float'>

In [16]:
a=10+20
b='10'+'20'
c='10'*3
print(a,b,c)

30 1020 101010

In [18]:
a=bool([False])
b=bool(3)
c=bool("")
d=bool(' ')
print(a,b,c,d)

True True False True

In [24]:
res=(2*(3+4)**2-(3**3)*3)
print(res)

17

In [ ]:
#### consider the code
##### a=2
##### a+=1
##### To make value 9, which expression req to place at line1
b**=2
b-=1
print(b)

In [59]:
a=bool(0)
b=bool(5)
c=bool(0.5)
d=bool(0.0)
print(a,b,c,d)

False True True False

In [63]:
#consider the code
a=21
b=6
print(a/b)#divide
print(a//b)#floor
print(a%b)#module

3.5
3
3

In [69]:
subjects=['java','python','sap']
more_sub=['java','python','sap']
extra_sub=more_sub
print(extra_sub is more_sub)

True

In [71]:
num=[10,20,30,40,50]
alp=['a','b','c','d','e']
print(num is alp)
print(num == alp)
num=alp
print(num is alp)
print(num==alp)

False
False
True
True

In [73]:
age=0
minor=False
name='Durga'
print(type(age))
print(type(minor))
print(type(name))

<class 'int'>
<class 'bool'>
<class 'str'>

In [77]:
a=8//3*4
b=8%3*4
c=8/3*4
d=8-3*4
print(a,b,c,d)

8 8 10.666666666666666 -4

In [124]:
#consider the code:
s='python is easy'
s1=s[6:-4]
# print(len(s1))
s2=s1.strip()
print(len(s2))

2

In [126]:
list=['apple','banana','carrot','Mango']
list[-1]

'Mango'

In [128]:
#which of the following code snippet will produce the output:boy cat dog
lst=['Apple','Boy','Cat','dog']
for i in lst:
    if i[0]!='A':
        print(i)

Boy
Cat
dog

In [132]:
a=15
b=5
print(a/b)

3.0

In [134]:
a=1
b=2
c=4
d=6
# which of the following result retrurn -4?
(a+b)//d-c

-4

In [142]:
s='python is easy'
s1=s[-7:]
s2=s[-4:]
print(s1)
print(s2)
print(s1+s2)

is easy
easy
is easyeasy

In [ ]:
# #note:Thew valid operator Precedence Order
# Paranthensis
# Exponents
# Unary Positive , negative and not
# Mutiplication and division
# Addition and Subtraction
# And

In [156]:
a=eval(input("Enter the num for the expression:"))#eval function the string like a py expression
# and return the result integer
print(a)
b=(a)**-2
# c=(a-)**2# invalid syntax
d=-(a)**2
e=(-a)**2
print(b,c,d,e)

Enter the num for the expression: 5

5
0.04 4 -25 25

In [161]:
#consider the following expression
result=8//6%5+2**3-2
print(result)

7

In [179]:
a=3
b=5
a+=2**3
print(a)
a-=b//2//3
print(a)

11
11

In [183]:
a=bool([])
b=bool(())
c=bool(range(0))
d=bool({})
c=bool(set())
print(a,b,c,d)

False False False False

In [199]:
num=[10,20,30,40]
x=0
for a in (30,40,50):
    if a  not in num:
        x=x+10
print(x)
# for i in (30,40,50):
#     if i in num:
#         x=x+10
# print(x)
# for i in (30,40,50):
#     if i not in num:
#         x=x+5
# print(x)
# for i in (30,40,50):
#     if i in num:
#         x=x+5
# print(x)

10

In [205]:
n1=[10,20,30,40,50]
n2=[10,20,30,40,50]
print(n1 is n2)
print(n1 == n2)
n1=n2
print(n1 is n2)
print(n1 == n2)

False
True
True
True

### PDF 2

In [215]:
# Which expresson evaluates to 4?
7%2+3

4

In [219]:
from sys import argv
sum=0
for i in range(2,len(argv)):
    sum += float(argv[i])
print("The avg for {} is{1:.2f}".format(argv[1],sum/(len(argv)-2)))

ValueError: could not convert string to float: 'C:\\Users\\win10\\AppData\\Roaming\\jupyter\\runtime\\kernel-12d22680-339d-4c15-8c3e-5f3f29cb52ed.json'

In [223]:
# consider the code:
# x=3
# x+-1
#line 1
#which line should be inserted at line 1 so that x value will become 16?

10202

In [229]:
print(type(input("Enter the some value")))

Enter the some value 10.0

<class 'str'>

In [13]:
# a=['a','b','c','d']
# for i in a:
#     # a.append(i.upper())
# # print(a)
# #ans:MemoryError Thrown at runtime

In [19]:
a='5'
b='2'
# print(a*b)
print(a*2)
print(a+b)
# print(a-b)

55
52

In [27]:
#consider the eval code:
print(type(eval(input("enter the value:"))))
print(type(eval(input("enter the value:"))))

enter the value: 345

<class 'int'>

enter the value: asd

NameError: name 'asd' is not defined

In [29]:
# consider the code:
a=7
b=3
c=5
d=1
print(a+d*2)

9

In [39]:
a=6//4%5+2**3-2//3
a

9

In [45]:
x='TEXT'
x[0]+x[-1]

'TT'

In [47]:
print(10==10 and 20!=20)
print(10==10 or 20!=20)
print( not 10==10)

False
True
False

In [59]:
a=float('123.456')
bool(a)
int(a)+False
# atr(a)
bool(a)+True

2

In [8]:
#your are intern for XYZ cars company. you have to create a function 
# that calculates the avgerage velocirty of vahicle on a 2640 foot(1/2 mile)track.
# consider the python code:
distance=float(input("Enter the distance traveller in feet:"))
distance_miles=distance/5280
time=int(input("Enter the time elapsed in second:"))
time_hours=time/3600
velocity = distance_miles/time_hours
print("the avg veiocity",velocity,'mile/hours')

Enter the distance traveller in feet: 54
Enter the time elapsed in second: 54

the avg veiocity 0.6818181818181819 mile/hours

In [14]:
x=2
y=6
x+=2**3
x//=y//2//3
print(x)

10

In [ ]:
Q19------

In [88]:
# consider the code
t=([10,20],10,False)
type(t[0])

list

In [1]:
x = 3/3+3**3-3
print(x)
# 3/3+27-3
# 1.0+27-3
# 1.0+24
# 25.0

25.0

In [3]:
result=str(bool(1)+float(10)/float(2))
# 1+10.0/2.0
# 1+5.0
# 6.0
print(result)

6.0

In [5]:
# you develop a py app for your comp. you req to accept input
# from the usser and print thAT INFORMATION TO THE USER SCREEN
name=input("enter your name")
print(name)

enter your name jagruti nanepag

jagruti nanepag

In [7]:
type('') is bool

False

In [9]:
True and False

False

In [11]:
True or False

True

In [13]:
5+False

5

In [15]:
True + 1

2

In [17]:
print(not 0)

True

In [19]:
print(not 10)

False

In [21]:
print(not '')

True

In [23]:
print(not 'durga')

False

In [25]:
print(not None)

True

In [29]:
l1=['sunny','bunny','chinny','vinny']
l2=['sunny','bunny','chinny','vinny']
print(l1 is not l2)
print(l1 != l2)
l1=l2
print(l1 is not l2)
print(l1 != l2)

True
False
False
False

In [35]:
s='DURGA SOFT'
len(s.replace(' ',''))

9

In [39]:
b='BANANA'
print(b[1]+b[1])

AA

In [41]:
l1=['sunny','bunny','chinny','vinny']
l2=['sunny','bunny','chinny','vinny']
print(l1 is  l2)
print(l1 == l2)
l1=l2
print(l1 is l2)
print(l1 == l2)

False
True
True
True

In [ ]:
# v1=1
# v2=0
# v1=v1^v2
# v2=v1^v2
# v1

In [44]:
c=input("Enter the number ")
a=int(c)+5
print(a)

Enter the number  15

20

In [46]:
c=input("Enter the number ")
a=int(c)+1
print(a)

Enter the number  12345

12346

In [48]:
x='10'
y='20'
type(x+y)

str

In [50]:
lst=[7,8,9]
b=lst[:]
print(b is lst)
print(b==lst)

False
True

#### PDF3

In [ ]:
# Q1.The XYZ organics company needs a simple program that their call center will use to enter survey data d=for a new coffe variety.
# the program must accept input and return the avg rating based on five star scale.the output must be rounded to two decimal place.

In [ ]:
sum=0
count=0
done=0
while(done != -1):
    rating=float(input("Enter Next rating(1-5),-1for done:"))
    if rating == -1:
        break
    sum+=rating
    count+=1
avg=float(sum/count)
print('the avg star rating for the new coffee is:{:.2f}'.format(avg))

In [49]:
#consider the following statemnet:
print('v:{:.2f}'.format(123.45678))
print('v:{:.2f}'.format(123.4))
print('v:{:18.2f}'.format(1.45678))
print('v:{:1.2f}'.format(1.45678))

v:123.46
v:123.40
v:              1.46
v:1.46

In [72]:
#consider the following code:
num=[0,1,2,3,4,5,6,7,8,9]
index=0
while(index<10):
    print(num[index])
    if num[index]==6:
        break
    else:
        index+=1

0
1
2
3
4
5
6

In [94]:
# You are writing a Python program to validate employee numbers.The employee number must have the format dd-ddd-dddd and consists of only 
# numbers and dashes. The program must print True if the format is correct, otherwise print False.
emp_no=input("enter your employee number(dd-ddd-ddd):")
part=emp_no.split('-')
valid=False
if len(part)==3:
    if len(part[0])==2 and len(part[1])==3 and len(part[2])== 4:
        if part[0].isdigit() and  part[1].isdigit()and  part[1].isdigit():
            valid = True
print(valid)

enter your employee number(dd-ddd-ddd): 23-345-4567

True

In [53]:
# write function to comput roots,the function meets the following req:
# 1.if a is nonneg, return a**(1/b)
# 2.if a is negative and even,return"result is an imaginary number"
# 3. if a neg and odd,return-(-a)**(1/b)
def comput_roots(a,b):
    if a>=0:
        ans=a**(1/b)
    elif a%2==0:
        ans ="result is an imaginary number"
    else:
        ans=-(-a)**(1/b)
    return ans
comput_roots(-2,3)

'result is an imaginary number'

In [60]:
#write a program devloping a online shopping appplication
d=input("Enter day of the week:")
discount=3
if d.lower()=='monday':
    discount+=5
elif d.lower()=='tuesday':
    discount+=5
elif d.lower()=='saturday':
    discount+=5
elif d.lower()=='sunday':
    discount+=5
else:
    discount+=2

Enter day of the week: monday

In [76]:
amt=float(input("enter loan amount"))
int_rate=0
if amt>0 and amt<=50000:
    int_rate = 10
elif amt>50000 and amt<=100000:
    int_rate=12
elif amt>100000 and amt<=150000:
    int_rate=16
else:
    int_rate=22
print(f"The intesert rate will be {int_rate}")
print(amt+int_rate)

enter loan amount 50001

The intesert rate will be 12
50013.0

In [92]:
#we are developing for leave in Xyz company.
days=int(input("Enter number of days for leave:"))
cause=input('Enter the reason')
if days==1:
    print('leave will be approved immediatly')
elif days>1 and days <=3:
    if cause=='sick':
        print('leave will be appoved')
    else:
        print("needs lead approval")
elif days>3 and days<5:
    if cause=='sick':
        print('leave manager appoved')
    else:
        print("needs director approval")
elif days>=5 and days < 10:
    print('needs director approval')

Enter number of days for leave: 4
Enter the reason offical

needs director approval

In [96]:
marks=[30,40,50,45,50,100]
avg=sum(marks)//len(marks)
grade={1:'A',2:'B',3:'C',4:'D'}
if avg>=90 and avg<=100:
    key=1
elif avg >= 80 and avg <90:
    key =2
elif avg >= 50 and avg < 80:
    key=3
else:
    key =4
print(grade[key])

C

In [112]:
a=12
b=4
s='he shall not be hapy if he does not work'
res= a/b
res1=s.find('not') 
res,res1

(3.0, 9)

In [124]:
#we are developing loan collection agent application.
collected_amt=3000
comm=0
if collected_amt <= 2000:
    comm = 50
elif collected_amt > 2500 and collected_amt < 3000:
    comm = 100
elif collected_amt > 2500:
    comm = 150
    if collected_amt >=3000:
        comm += 200
print(comm)
print(collected_amt+comm)

350
3350

In [152]:
#count how many nested list in the list.
l=[10,20,[30,40],[50,60]]
count=0
for i in range(len(l)):
    if type(l[i])==list:
        count+=1
print(count)

2

In [166]:
Q10.not understanding
l=[10,(20,),{30},{},{},[40,50]]
count=0
for i in range(len(l)):
    if type(l[i])==list:
        count+=1
        print(count)
    elif type(l[i])==tuple:
        count+=2
        print(count)
    elif type(l[i])==set:
        count+=3
        print(count)
    elif type(l[i])==dict:
        count+=4
        print(count)
    else:
        count+=5
print(count)

7
10
14
18
19
19

In [174]:
t=(2,4,6,8,10,12)
d={1:'A',2:'B',3:'C',4:'D',5:'E',6:'F'}
result=1
for i in t:
    if i in d:
        print(i)
        
        result+=i
print(result)

2
4
6
13

In [180]:
t=(2,4,6,8,10,12)
d={1:'A',2:'B',3:'C',4:'D',5:'E',6:'F'}
result=1
for i in t:
    if i in d:
        
        continue
    else:
         
        print(i)
        result+=i
print(result)

8
10
12
31

In [190]:
values=[[3,4,5,1],[33,6,1,2]]
v=values[0][0]
for lst in values:
    print(lst)
    for element in lst:
        print(element)
        if v > element:
            v=element
print('result',v)

[3, 4, 5, 1]
3
4
5
1
[33, 6, 1, 2]
33
6
1
2
result 1

In [200]:
def get_names():
    names=['sunny','bunny','chinny','vinny','pinny']
    return names[2:]
def up(element):
    new=[]
    for name in element:
        new.append(name[:3].title())
    return new
print(up(get_names()))

['Chi', 'Vin', 'Pin']

In [48]:
# consider the following code to print [chicken,mutton,fish]
# def my_list(x):
#     lst.append(a)
#     return lst
# my_list('chicken')
# my_list('mutton')
# print(my_list('fish'))


# def lst1(x):
#     lst=[]
#     for i in x:
#         lst.append(i)
#     print(lst)
# x= ['chicken','mutton','fish']
# lst1(x)

lst = []
def my_list(item):
    lst.append(item)
    return lst
my_list('chicken')
my_list('mutton')
my_list('fish')

['chicken', 'mutton', 'fish']

In [13]:
# Which of the following method calls are valid?
def f1(x=0,y=0):
    return x+y
f1()
f1(10,20)
f1(10)
f1('10')

TypeError: can only concatenate str (not "int") to str

In [35]:
#which of the following code should be inserted to print highest as 100 and least number as 10

def find_number(num):
    num.sort()
    return num[0],num[-1]
num1=[100,20,10,70,50,60,40,30,90,80]
min,max=find_number(num1)
print(f"The highest numbner:{max} and least number:{min}")

The highest numbner:100 and least number:10

In [39]:
# consider the code ,Whch of the following calls return 30
def calculate(amt=6,factor=3):
    if amt>6:
        return amt*factor
    else:
        return amt*factor*2
calculate(amt=10)

30

In [45]:
#conssider the following code
def fib_seq(n):
    if n==0:
        return 0
    elif n==1:
        return 1
    else:
        return fib_seq(n-1)+fib_seq(n-2)
for i in range(7):
    print(fib_seq(i),end=',')

0,1,1,2,3,5,8,

In [51]:
#Write a program in py for online game:
# the func is named udate_score
# the function receives the current score and a value
# the function adds the value to the current score
# the function return the new score

def update_score(score,value):
    new_score=score+value
    return new_score
update_score(56,3)

59

In [71]:
#The XYZ company is creating a program that allows customer to log the number of miles biked. the program wil send 
# msg based on how many miles the customer log.consider the following py code:
def get_name():
    name=input("Enter your name:")
    return name
def calc_calories( miles,calories_per_mile):
    calories = miles*calories_per_mile
    return calories

distance=int(input("how many miles did you bike thid week:"))
burn_rates=50
biker=get_name()
calories_burned =calc_calories(distance,burn_rates)
print(biker,"",calories_burned,"")


# def get_name():
#     name=input("Enter your name:")
#     return name
# def calc_calories( miles,calories_per_mile):
#     calories = miles*calories_per_mile
#     return calories

# distance=int(input("how many miles did you bike thid week:"))
# burn_rates=50
# calories_burned=calc_calories(distance,burn_rates)
# print(name,"",calories_burned,"")

how many miles did you bike thid week: 45
Enter your name: rdf

rdf  2250

how many miles did you bike thid week: 43

7  2150

In [107]:
# You work for a company that distributes media for all ages.
# You are writing a function that assigns a rating based on a user's age. The function must meet the following requirements.

# Anyone 18 years old or older receives a rating of "A"
# Anyone 13 or older, but younger than 18, receives a rating of "T"
# Anyone 12 years old or younger receives a rating of "C"
# If the age is unknown, the rating is set to "C"


# def distributes(age):
#     if age >= 18:
#         print("A")
#     elif 13 <= age < 18:
#         print("T")
#     else:
#         print("C")
# ages=int(input("enter the ages"))
# distributes(ages)



def get_rating(age):
    if age>=18:
        rating='A'
    elif age >= 13:
        rating='T'
    else:
        rating='C'
    return rating
get_rating(17)

'T'

In [145]:
# Write a program to count letter from the given list

# w=['apple','pears','orange','mango']
# c=0
# for i in w:    
#     if 'a' in i:
#         c+=1 
# print(c)


def count_letter(l,w):
    c=0
    for i in w:
        print(i)
        if l in i:
            c+=1
    return c
w=['apple','pears','orange','mango']
l=input("Enter the alp symbol")
letter_count=count_letter(l,w)
print(letter_count)

Enter the alp symbol a

apple
pears
orange
mango
4

In [155]:
#It is the program to reverse the contant of the given string
start='hello'
end=''
for i in range(0,len(start)):
    # print(start[i])
    end=start[i]+end
    print(end)

h
eh
leh
lleh
olleh

In [157]:
# write a program to add int 40 at index 1?
x=[13,4,17,10]
w=x[1:]
u=x[1:]
y=x
u[0]=50
y[1]=40
print(x)

[13, 40, 17, 10]

In [159]:
# write a function to calculate the power of a number by using python
def calc_power(x,y):
    comments= x**y
    return comments
calc_power(2,4)

16

In [3]:
#Write a python script to convert student markd into grade . the grade are defined as follow:
# 90 through 100---. A grade
# 80 through 89---. B grade
# 70 through 79---. C grade
# 65 through 69---. D grade
# 0 through 64---. E grade

def student(marks):
    if marks >= 90:        
        print("GRADE A")
    elif 80 <= marks <=89:
        print("GRADE B")
    elif 70 <= marks <=79:
         print("GRADE C")
    elif 65 <= marks <=69:
        print("GRADE D")
    else:
        print("GRADE E")
# name=input("Enter your Name:")
mark=int(input("Enter your Marks:"))
student(mark)

Enter your Marks: 576

GRADE A

In [1]:
# You are developing a Python application for an online product distribution company. You need
# the program to iterate through a list of products and escape when a target product ID is found.
product_list=[0,1,2,3,4,5,6,7,8]
index=0
while index < len(product_list):
    if product_list[index]==6:
        print(product_list[index])
        break
    else:
        index+=1
    

# for i in product_list:
#     if i == 6:
#         print(" product ID is found")
#         break
#     else:
#         print("not found")

6

In [13]:
# Write a py program that display all prime number from 2 to 200?
# p=2
# while p <= 200:
#     is_prime=True
#     for i in range(2,201):
#         if p % i == 0:
#             is_prime = False
#             break
    
#     if is_prime == True:
#         print(p)
#     p=p+1

p = 2
while p <= 200:
    is_prime = True
    for i in range(2, int(p ** 0.5) + 1):  # Loop till the square root of p
        if p % i == 0:
            is_prime = False
            break
    
    if is_prime:
        print(p,end=' ')  # Print prime numbers
    p = p + 1

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199

In [36]:
# you create the folloeing programe to locate a conference room and display room name.
# rooms={1:'Left Conference Room',2:'Right Conference Room'}
# room=input("enter the room number:"))
# if  not room  in rooms:
#     print("Room does not exist")
# else:
#     print("The room name is:"+rooms[room])

rooms={1:'Left Conference Room',2:'Right Conference Room'}
room=int(input("enter the room number:"))
if  room not in rooms:
    print("Room does not exist")
else:
    print("The room name is:"+rooms[room])

enter the room number: 2

The room name is:Right Conference Room

In [44]:
# The XYZ Book Company needs a way to determine the cost that a student will pay for renting a Book.
# The Cost is dependent on the time of the Book is returned.
# However there are also special rates on Saturday and Sundays.
# The Fee Structure is shown in the following list:
# The cost is $3.00 per night.
# If the Book is returned after 9PM, the student will be charged an extra day.
# If the Book is rented on a Sunday, the student will get 50% off for as long as they the keep the book.
# If the Book is rented on a Saturday, the student will get 30% off for as long as they keep the book.
# We need to write the code to meet this requirements.
ontime=input("Enter the book return before 9pm yes or no").lower()
dayrent=int(input("How many day the book rentes"))
day=input("IS book rented on saturday or sunday").capitalize()
cost=3.00

if ontime == 'no':
    dayrent=dayrent+1
if day == 'Sunday':
    t=(dayrent*cost)*0.05
elif day == ' Saturday':
     t=(dayrent*cost)*0.03
else:
     t=(dayrent*cost)
print("The cost of book Rental is",t)

Enter the book return before 9pm yes or no no
How many day the book rentes 5
IS book rented on saturday or sunday sunday

The cost of book Rental is 0.9

In [64]:
#if student ,arles between 80 and 100 , the we have to offer A GRADE
mark=78
if 80 <= mark <= 100:
    print("A")

#### PDF 4

TRY, FINALLY AND EXCEPT 
means: A try statement can have one or more except clauses
A try statement can have a finally clause without an except clause
A try statement can have a finally clause and an except clause

In [73]:
#conside the code:
f=open("B104.txt")
# f.readall()# attributeError
f.readline()

' This is my first line\n'

In [77]:
# Consider the code:
# Note: Finally block return statement has more priority than try block return statemnet
def f1():
    try:
        return 1
    finally:
        return 2
x=f1()
print(x)

2

In [79]:
try:
    print("try")
except:
     print("except")
else:
     print("else")
finally:
     print("finally")

try
else
finally

In [81]:
try:
    print("try")
    print(10/0)
except:
     print("except")
else:
     print("else")
finally:
     print("finally")

try
except
finally

In [87]:
  print(10/0)

ZeroDivisionError: division by zero

In [91]:
# Note: In try Except - else- finally the order is important. 
# After except block only we have to take else block
try:
    print("try")
    print(10/0)
else:
     print("else")
except:
     print("except")
finally:
     print("finally")

SyntaxError: expected 'except' or 'finally' block (1858419662.py, line 6)

In [97]:
#We required to add exception handling code to handle FileNotFoundError. 
f=open("abc.txt")
print(f.read())
f.close()

FileNotFoundError: [Errno 2] No such file or directory: 'abc.txt'

In [99]:
try:
    f=open("abc.txt")
except FileNotFoundError:
    print("File not found.. try again")
else:
       print(f.read())
finally:
      f.close()

File not found.. try again

In [107]:
a=10
b=20
c='10'
try:
    result=a+b+c    
except TypeError:
    print("unsupported operand type(s) for +: 'int' and 's':")
else:
    print(result)

unsupported operand type(s) for +: 'int' and 's':

In [3]:
# 
prices=[30.5,'40.5',10.5]
total=0
for p in prices:
    
    total+=float(p)
print(total)
#while executing this code we are getting the following error:
# ValueError;

81.5

In [8]:
# 
prices=[30,'20',10,'40']
total=0
for p in prices:
    
    total+=int(p)
print(total)

100

In [22]:
course={1:'JAVA',2:'PYTHON',3:'SCALE'}
for i in range(1,5):
    print(course[i])

JAVA
PYTHON
SCALE

KeyError: 4

In [32]:
# course={1:'JAVA',2:'PYTHON',3:'SCALE'}
# for i in course:
#     print(course[i])

# course={1:'JAVA',2:'PYTHON',3:'SCALE'}
# for i in range(1,5):
#     if i in course:
#         print(course[i])

# course={1:'JAVA',2:'PYTHON',3:'SCALE'}
# for i in range(1,4):
#     print(course[i])

In [34]:
def area(b,w):
    return B*w
print(area(10,20))

NameError: name 'B' is not defined

In [38]:
def get_score(total=0,valid=0):
    result=int(valid)/int(total)
    return result
get_score(0/10)

ZeroDivisionError: division by zero

In [44]:
data=[]
def get_data():
    for i in range(1,5):
        mark=int(input("enter the mark:"))
        data.append(mark)
def get_avg():
    sum=0
    for mark in data:
        sum+=mark
    return sum/len(data)
get_data()
print(get_avg())

enter the mark: 10
enter the mark: 20
enter the mark: 30
enter the mark: 40

25.0

In [46]:
a=10
b=0
try:
    print(a/b)
except:
    print("division by zero")
else:
    print(" find ZeroDivisionError")

division by zero

In [54]:
#Which of the following is valid way of creating our own custom exception?
class MyException(Exception):
    pass
# To define custom exception, compulsory we have to create child class for
# BaseException either directy or indirectly

In [56]:
x=int(input())
y=int(input())
try:
    print(x/y)

SyntaxError: incomplete input (2502307647.py, line 4)

In [60]:
#consider the folowing code:
import os
def get_data(filename,mode):
    if os.path.isfile(filename):
        with open(filename,'r') as file:
            return file.readline()
    else:
        return None

# #Write spy program for the following req:
# each line of the file must be read and printed
# if the blank line encountered, it must be ignored
# when all lines have been read,the file must be closed
inventory=open("B104.txt",mode='r')
eof=False
while eof==False:
    line=inventory.readline()
    if line!='':
        if line != '\n':
     else:
        print("end of the line")
        eof=True
        inventory.close()

In [21]:
#we are create a function that reads a data file and prints each line of that file.
import os
def read_file(file):
    line=None
    if os.path.isfile(file):
        data = open(file,'r')
    while line != '':
        line=data.readline()
        print(line)
read_file("B104.txt")

 This is my first line

 This is my second line

 This is my third line

 This is my last line

In [39]:
import sys#standard library : its provide access to system-specifiec paprameters and function:
try:
    file_in=open('B104.txt','r')
    file_out=open('out.txt','w+')
except:
    print("cannot open",file_name)
else:
    i=1
    for line in file_in:
        print(line.rstrip())
        file_out.write(str(i)+":"+line)
        i=i+1
file_in.close()
file_out.close()

NameError: name 'file_name' is not defined

In [1]:
values=0
try:
    f=open('abcd.txt','r')
    cont=f.readlines()
    for linr in cont:
        values+=float(linr.split(":")[1])
        f.close()
except Exception:
    print("unable to open the file")
print(values)

100.0

In [7]:
#
with open('out.txt','a+') as f:
    f.write("new voters info")
    # f.seek(0)
    data=f.read()
    print(data)

In [25]:
# #=Note: Fabs(x) returns the absolute values of x
# floor return the largest int less than or equal to x
# hence the following line perfrom the required operation
from math import sqrt as sq
x=-123.456
print(math.floor(x))
print(math.fabs(x))

-124
123.456

In [27]:
i= [str(round(math.pi)) for i in range(1,6)]
print(i)

['3', '3', '3', '3', '3']

In [45]:
import math
def find_area(r):
    return math.pi*math.pow(r,2)
find_area(3)

28.274333882308138

In [35]:
import random
random.randint(5,11)
random.randrange(5,12,1)

10